@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&family=Russo+One&display=swap');

.body {
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand";
}

.main {
    padding: 16px;
    background-color: #C3E0E5;
}

.footer{
    padding: 24px;
    padding-left: 1%;
    position: relative;
    z-index: -1;
    background-color: #5885AF;
}

.img{
    height: 200px;
}

.nav{
    border: 1px, solid, black;
    padding: 16px;
    background-color: #274472;
}

a:hover{
    color: green;
}

a:active {
    color: red;
}

.a {
    text-decoration: none;
    color: white;
}

.a-color-change {
    color: #41729F;
    text-shadow: 1px 1px 1px white;
    text-decoration: none;
}

.grid-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.lightgrey-background {
    background-color: lightgray;
}

h1 {
    font-family: "Russo One";
    font-size: 64px;
    background: linear-gradient(#41729F, #C3E0E5);
    padding: 16px;
    color: #0C2D48;
    text-shadow: 1px 1px 1px black;
}

h2 {
    font-family: "Quicksand";
    font-size: 30px;
    letter-spacing: 0.25cm;
}

.h1 {
    text-align: center;
}

.h2 {
    text-align: center;
}
